@*@model IEnumerable<LMS.Models.Activity>*@
@model LMS.ViewModels.Activity.ActivityTableViewModel

@if (User.IsInRole("Teacher"))
{
	@Html.ActionLink("Create new activity", "Create", "Activities", new { @class = "btn btn-primary", moduleId = Model.ModuleId }, null)
}

@if (Model.Activities.Any())
{
	<div class="well">
		<div class="row ">
			<div class="col-md-2">
				@Html.DisplayName("Name")
			</div>
			<div class="col-md-3">
				@Html.DisplayName("Type Description")
			</div>
			<div class="col-md-2">
				@*@Html.DisplayNameFor(model => model.Description)*@
				@Html.DisplayName("Start Date")
			</div>
			<div class="col-md-2">
				@Html.DisplayName("End Date")
			</div>
			<div class="col-md-3">
			</div>
		</div>
		<div class="row">
			@foreach (var item in Model.Activities)
			{
				<div class="col-md-2">
					@Html.DisplayFor(modelItem => item.Name)
				</div>
				<div class="col-md-3">

					@Html.DisplayFor(modelItem => item.Type.Description)
				</div>
				@*@Html.DisplayFor(modelItem => item.Description)*@
				<div class="col-md-2">
					@Html.DisplayFor(modelItem => item.StartDate)
				</div>
				<div class="col-md-2">
					@Html.DisplayFor(modelItem => item.EndDate)
				</div>
				<div class="col-md-3">
					@if (User.IsInRole("Teacher"))
					{
						@Html.ActionLink("Add Document", "UploadDocumentActivity", "Documents", new { id = item.Id }, null)<span> |</span>
						@Html.ActionLink("Activity Document", "IndexDocumentActivity", "Documents", new { id = item.Id }, null)<span> |</span>
						@Html.ActionLink("Edit", "Edit", "Activities", new { id = item.Id }, null)<span> |</span>

						@Html.ActionLink("Delete", "Delete", "Activities", new { id = item.Id }, null)<span> |</span>
					}
					@if (User.IsInRole("Student") && item.Type.Description == "Assignment")
					{
						@Html.ActionLink("Add Document", "UploadDocumentActivity", "Documents", new { id = item.Id }, null)<span> |</span>
						@Html.ActionLink("Activity Document", "IndexDocumentActivity", "Documents", new { id = item.Id }, null)<span> |</span>
					}
					@Html.ActionLink("Details", "Details", "Activities", new { id = item.Id }, null)
				</div>
			}
		</div>
	</div>
}
