@model IEnumerable<LMS.Models.Module>

@{
    ViewBag.Title = "Index";
}

<div class="container tablebackground">
    <h2>Modules</h2>

    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </div>
        <div class="col-md-2">
        </div>
    </div>
    @{ int col = 0; }
    @foreach (var item in Model)
    {
        col++;
        <div class="well">
            
            <div class="row">
                <div class="col-md-offset-10 col-md-2">
                    @if (col == 1 && User.IsInRole("Teacher"))
                    {
                        @Html.ActionLink("Add Module", "Create", "Modules", new { id = item.CourseId }, null)
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="col-md-3">

                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="col-md-2">

                    @Html.DisplayFor(modelItem => item.StartDate)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </div>
                <div class="col-md-3">
                    @if (User.IsInRole("Teacher"))
                    {
                        @Html.ActionLink("Edit", "Edit", "Modules", new { id = item.Id }, null)<span> |</span>

                        @Html.ActionLink("Delete", "Delete", "Modules", new { id = item.Id }, null)<span> |</span>
                    }
                    @Html.ActionLink("Details", "Details", "Modules", new { id = item.Id }, null)
                </div>
            </div>
            @Html.Partial("_Activities", item.Activities)
        </div>
    }
</div>

