@model LMS.ViewModels.Activity.ActivityViewModel

@{
    var editDelId = "ActEditDel" + @Model.Id;
}
<div class="row">
    @{var nameId = "Module" + @Model.Id + "Name";}
    <div class="col-md-2" id=@nameId>
        @Html.DisplayFor(modelItem => Model.Name)
    </div>
    @{var description = "Module" + @Model.Id + "Description";}
    <div class="col-md-2" id=@description>
        @Html.DisplayFor(modelItem => Model.Description)
    </div>
    @{var startDate = "Module" + @Model.Id + "StartDate";}
    <div class="col-md-2" id=@startDate>
        @Html.DisplayFor(modelItem => Model.StartDate)
    </div>
    @{var endDate = "Module" + @Model.Id + "EndDate";}
    <div class="col-md-2" id=@endDate>
        @Html.DisplayFor(modelItem => Model.EndDate)
    </div>
    <div class="col-md-2">
        @if (User.IsInRole("Teacher"))
        {
            <div class="ajaxLink btn btn-default btn-sm">
                @Ajax.ActionLink("Edit", "Edit", "Activities", new { id = Model.Id }, new AjaxOptions
                {
                    UpdateTargetId = editDelId,
                    InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                    HttpMethod = "GET", // <-- HTTP method
                })
            </div>

            <div class="ajaxLink btn btn-default btn-sm">
                @Ajax.ActionLink("Delete", "Delete", "Activities", new { id = Model.Id }, new AjaxOptions
                {
                    UpdateTargetId = editDelId,
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                })
            </div>
        }
    </div>

    <div class="col-md-2">
        @if (User.IsInRole("Teacher"))
        {
            <div class="ajaxLink btn btn-default btn-sm">
                @Ajax.ActionLink("Upload", "UploadDocumentActvity", "Documents", new { id = Model.Id, updateTarget = editDelId }, new AjaxOptions {
                UpdateTargetId = editDelId,
                InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                 HttpMethod="GET" , // <-- HTTP method
                 })
            </div>
        }
        @if (User.IsInRole("Student") || true)
        {
            <div class="ajaxLink btn btn-default btn-sm">
                @Ajax.ActionLink(Model.NrOfDocuments+"", "IndexDocumentActivity", "Documents", new { id = Model.Id }, new AjaxOptions
           {
               UpdateTargetId = editDelId,
               InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
               HttpMethod = "GET", // <-- HTTP method
           })
            </div>
        }
    </div>
</div>
<div id=@editDelId> </div>
