@model LMS.ViewModels.Activity.ActivityTableViewModel

@if (User.IsInRole("Teacher"))
{
    @Html.ActionLink("Add activity", "Create", "Activities", new { @class = "btn btn-primary", moduleId = Model.ModuleId }, null)
}

@if (Model.ActivitiesVM.Any())
{
    <div class="well">
        <div class="row ">
            <div class="col-md-2">
                @Html.DisplayName("Name")
            </div>
            <div class="col-md-2">
                @Html.DisplayName("Type Description")
            </div>
            <div class="col-md-2">
                @Html.DisplayName("Start Date")
            </div>
            <div class="col-md-2">
                @Html.DisplayName("End Date")
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                @Html.DisplayName("Documents")
            </div>
        </div>

        @foreach (var activity in Model.ActivitiesVM.OrderByDescending(m => m.StartDate))
        {
            activity.EditDelDetailsId = "actedd" + activity.Id;
            @Html.Partial("_Activity", activity);
        }
    </div>
}
