@model LMS.ViewModels.Activity.ActivityTableViewModel

@if (User.IsInRole("Teacher"))
{
    @Html.ActionLink("Add activity", "Create", "Activities", new { @class = "btn btn-primary", moduleId = Model.ModuleId }, null)
}

@if (Model.ActivitiesVM.Any())
{
    <div class="well">
        <div class="row ">
            <div class="col-md-2">
                <span style="color:#0094ff; font-size: medium">@Html.DisplayName("Name")</span>
            </div>
            <div class="col-md-2">
                <span style="color:#0094ff; font-size: medium">@Html.DisplayName("Type Description")</span>
            </div>
            <div class="col-md-2">
                <span style="color:#0094ff; font-size: medium">@Html.DisplayName("Start Date")</span>
            </div>
            <div class="col-md-2">
                <span style="color:#0094ff; font-size: medium">@Html.DisplayName("End Date")</span>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <span style="color:#0094ff; font-size: medium">@Html.DisplayName("Documents")</span>
</div>
        </div>

        @foreach (var activity in Model.ActivitiesVM.OrderByDescending(m => m.StartDate))
        {
            activity.EditDelDetailsId = "actedd" + activity.Id;
            @Html.Partial("_Activity", activity);
        }
    </div>
}
