@model LMS.ViewModels.Module.ModuleViewModel

@{
    var editDelId = "ModEditDel" + @Model.Id;
}
@*<div class="well" style="background-color:ghostwhite">*@
<div class="panel-heading">
    @*<h4 class="panel-title">*@
    <a data-toggle="collapse" data-parent="#module-accordion" href="#@Model.CollapseId">
        <div class="row">
            @{var nameId = "Module" + @Model.Id + "Name";}
            <div class="col-md-2" id=@nameId>
                @Html.DisplayFor(modelItem => Model.Name)
            </div>
            @{var description = "Module" + @Model.Id + "Description";}
            <div class="col-md-2" id=@description>
                @Html.DisplayFor(modelItem => Model.Description)
            </div>
            @{var startDate = "Module" + @Model.Id + "StartDate";}
            <div class="col-md-2" id=@startDate>
                @Html.DisplayFor(modelItem => Model.StartDate)
            </div>
            @{var endDate = "Module" + @Model.Id + "EndDate";}
            <div class="col-md-2" id=@endDate>
                @Html.DisplayFor(modelItem => Model.EndDate)
            </div>
            <div class="col-md-2">
                @if (User.IsInRole("Teacher"))
                {
                    <div class="ajaxLink btn btn-default btn-sm">
                        @Ajax.ActionLink("Edit", "Edit", "Modules", new { id = Model.Id }, new AjaxOptions
                   {
                       UpdateTargetId = editDelId,
                       InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                       HttpMethod = "GET", // <-- HTTP method
                   })
                    </div>

                    <div class="ajaxLink btn btn-default btn-sm">
                        @Ajax.ActionLink("Delete", "Delete", "Modules", new { id = Model.Id }, new AjaxOptions
                   {
                       UpdateTargetId = editDelId,
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET",
                   })
                    </div>
                }
            </div>

            <div class="col-md-2">
                @if (User.IsInRole("Teacher"))
                {
                    <div class="ajaxLink btn btn-default btn-sm">
                        @Ajax.ActionLink("Upload", "UploadDocumentModule", "Documents", new { id = Model.Id }, new AjaxOptions {
                       UpdateTargetId = editDelId,
                       InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                       HttpMethod = "GET", // <-- HTTP method
                   })
                    </div>
                }

                @*@if (User.IsInRole("Student"))
                {*@
                    <div class="ajaxLink btn btn-default btn-sm">
                        @Ajax.ActionLink(Model.NrOfDocuments+"", "IndexDocumentModule", "Documents", new { id = Model.Id }, new AjaxOptions
                   {
                       UpdateTargetId = editDelId,
                       InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                       HttpMethod = "GET", // <-- HTTP method
                   })
                    </div>
                @*<input id="clickMe" type="button" value="clickme" onclick='moduleedit()' />*@
            </div>
        </div>
</div>
    </a>
@*</h4>*@
<div id=@editDelId class="ModuleEditDel"> </div>
@*</div>*@