@model IEnumerable<LMS.Models.Course>

<div id="coursestable">
    <table class="table table-bordered table-striped">
        <thead class="">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th></th>
            </tr>
        </thead>

        @{var itemCount = 0;}
        @foreach (var item in Model)
        {
            @{var dataTarget = "course" + itemCount;}
            <tr>
                <td>
                   
                    @Html.DisplayFor(modelItem => item.Name)                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)                
                </td>
                <td>
                    @if (User.IsInRole("Teacher"))
                    {
                        @Html.ActionLink("Edit/Details", "Edit", new { id = item.Id }) <span>| </span>
                    }
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>