@model LMS.Models.CoursesViewModel
@using LMS.Models

@{ViewBag.Title = "Courses"; }

<script>
    $(document).ready(function () {
        $("input:radio").click(function () {
            active = $("input:radio:first").prop("checked");
            if (active) {
                $(".inactivecourse").hide();
            }
            else {
                $(".inactivecourse").show();
            }
        });

        $('#coursestable tr').click(function () {             
            var href = $(this).find('a').attr("data-href");           
            if (href) {
                window.location = href;                
            }
        });
    });
</script>


@Html.Partial("_Header", Model.Header)

<div class="container body-content">
    @*@using (Ajax.BeginForm(
            new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "coursestable"
            }))
        {
            <label for="Test"></label>
            <div class="row">
                <div class="col-sm-4">
                    <h2>Courses</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <input type="checkbox" checked name="active" id="test">
                </div>
                <div class="col-sm-1">
                    <input type="submit" , value="Filter" />
                </div>
            </div>
        }*@

    <div class="row">
        <div class="col-sm-11">
            <dl class="dl-horizontal">
                <dt>
                    Courses:
                </dt>
                <dd>
                    <div id=checkbox>
                        <form>
                            @Html.RadioButton("filter", "Active") <span>Active</span>
                            @Html.RadioButton("filter", "All") <span>All</span>
                        </form>
                    </div>
                </dd>
                @ViewBag.output
            </dl>
        </div>
        <div class="col-sm-1 pull-right">
            @Html.ActionLink("Edit Course", "Create", null, new { @class = "btn btn-info btn-sm" })
        </div>
    </div>

    @Html.Partial("_Courses", Model.Courses)
</div>
