@model List<LMS.Models.AllDocuments>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    var studentlist = Model.Select(i => i.StudentDoc).First().ToList();
    var Teacherlist = Model.Select(i => i.TeacherDoc).First().ToList();
    var UserList = Model.Select(i => i.UL).First().ToList();
}

<div class="well" style="background-color:#ccfa58">
    @if (Teacherlist.Any())
    {
        <table class="table">
            <tr>
                <th>
                    @Html.Raw("Activity Name")
                </th>

                <th>
                    @Html.Raw("Document Name")
                </th>
                <th>
                    @Html.Raw("Description")
                </th>
                <th>
                    @Html.Raw("Upload Time")
                </th>
                <th>
                    @Html.Raw("User")
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Teacherlist)
            {
                <tr>
                    <td>
                        @item.Activity.Name
                    </td>

                    <td>
                        @Html.ActionLink(item.Name, "DownLoadFile", "Documents", new { id = item.Id }, new{target = "_blank"})
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.TimeStamp
                    </td>
                    <td>
                        @{var username = UserList.FirstOrDefault(w => w.Id == item.UserId).Name; }
                        @Html.Raw(username)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "DetailsActivity", new { id = item.Id }) |
                        @if (User.IsInRole("Teacher"))
                        {

                            @Html.ActionLink("Delete", "DeleteActivityDocument", new { id = item.Id })

                        }
                    </td>
                </tr>
            }
        </table>
    }

    @if (User.IsInRole("Student"))
    {
        studentlist = studentlist.Where(w => w.UserId == User.Identity.GetUserId()).ToList();
    }

    @if (studentlist.Any())
    {
        <table class="table">
            <tr>
                <th>
                    @Html.Raw("Activity Name")
                </th>
                <th>
                    @Html.Raw("Document Name")
                </th>
                <th>
                    @Html.Raw("Description")
                </th>
                <th>
                    @Html.Raw("Upload Time")
                </th>
                <th>
                    @Html.Raw("User")
                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in studentlist)
            {
                <tr>
                    <td>
                        @item.Activity.Name
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "DownLoadFile", "Documents", new { id = item.Id }, new { target = "_blank" })
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.TimeStamp
                    </td>
                    <td>
                        @{var username = UserList.FirstOrDefault(w => w.Id == item.UserId).Name; }
                        @Html.Raw(username)
                    </td>
                    <td>
                        @*//A solution should not exist in database before startdate*@
                        @{if (@*item.TimeStamp >= item.Activity.StartDate &&*@ item.TimeStamp <= item.Activity.EndDate)
                            {
                                <span class="glyphicon glyphicon-ok" style="color:forestgreen"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-ok" style="color:red"></span>
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Details", "DetailsActivity", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteActivityDocument", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    }
</div>